# Build output
build/

# CubeMX backup files
*.bak

# IDE files
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# CMake generated
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json

#Cache
.cachebro